h1 {
  color: yellow;
  font-size: 50px;
  font-family:'Rum Raisin', sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -1px;
  text-align: center }


  


.nuestrasredes {font-family:'Rum Raisin', sans-serif;
                  color: #feed01;
                  text-align: center;
                  font-size: 40px;
                  margin-top: 30px;
                  letter-spacing:5px}

.seccionlogos {text-align: center}

.logos {margin-left: 20px; margin-right: 20px; margin-bottom: 20px}

.videos { padding-left: 30px; padding-right: 30px }

  iframe {margin-left: 40px; margin-right: 40px}

.navbar-brand {font-family:'Rum Raisin', sans-serif !important;
                font-size: 30px;
               color:white;
                transition: all 2s;
                float: left !important; }

.navbar-brand:hover {color:#feed01 !important;}






.resumen { color:#ae3d83;
      font-family:"Baloo 2", cursive;
      font-size:30px;
      text-align: center;}

 .temas {color:#ae3d83;
      font-family:"Baloo 2", cursive;
      font-size:30px}




h2 {
  color: purple;
  font-family: 'Rum Raisin', sans-serif;
  font-size: 40px;
text-align: center}

.fechas {
  color: purple;
  font-family: "Baloo 2", cursive; }



.carousel-inner {
  margin: 20px 70px 20px 20px;
  width: 95%;
  height: 600px; }



p.historia {
  font-family: Fjalla One, sans-serif;
  color:#7b7b7b;
  font-size: 14px;
  line-height: 26px; }

div.historia {
  font-family: Fjalla One, sans-serif;
  margin-left: 20px;
  color:#7b7b7b;
  font-size: 14px;
  line-height: 26px; }

h3.integrantes {
  margin-left: 20px;
  font-size: 20px;
  font-family: Fjalla One, sans-serif;
  display:row;
  color:purple;
   }


ul.integrantes {font-size: 20px;
                font-family:Fjalla One, sans-serif;
                 color:#7b7b7b;
                 font-size:15px;
                 display:block;
                 margin-left: 20px;}


div.tienda{display: inline-block;}

div.hijo {content: auto;
 border: solid 2px white; color:white;
 margin: 20px 10px 10px 10px;
 display:inline-block;

}

img.tienda {
  margin-bottom: 20px
}

div.vol {margin: 40px 40px 70px 40px;
      display: inline-block;}

html {height: 100%;
      width: 100%}      

body {background-color: black;
      width: 100%;
      
      height: 100% }


footer {
          width: 100%;
          background-color: #393535;
          margin-top: 30px;

        }

  @media (max-width:768px){
  header {width:100%; justify-content: center;}
  body{width:100%;}
  .footer {width:100% !important;}
  html {width: 100%}
  iframe {width: auto}
  h1 {text-align:center}
  .navbar-brand {font-size: 15px}
  .resumen {font-size: 10px}
  .temas {font-size: 10px}}


