#btn-menu {display:none;}



li.nav-item {color:black;
            font-family:"Baloo 2", cursive;
}

h1 {
  color: purple;
  font-size: 50px;
  font-family: 'Overlock SC', cursive;
  transition: all 3s;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -1px;
  position: relative;
  margin: 0px; }

  


.resumen {
  color: purple;
  width: : 360px;
  font-family: "Baloo 2", cursive; }


h2 {
  color: purple;
  font-family: "Baloo 2", cursive; }

.fechas {
  color: purple;
  font-family: "Baloo 2", cursive; }

.carousel-inner {
  width: 80%;
  height: 10%; }

h2.historia {
  font-size: 30px;
  font-family: "Baloo 2", cursive;
  color: purple; }

p.historia {
  font-family: Fjalla One, sans-serif;
  color: white;
  width: 60%;
  font-size: 14px;
  line-height: 26px; }

div.historia {
  font-family: Fjalla One, sans-serif;
  color: white;
  display: row;
  width: 90%;
  font-size: 14px;
  line-height: 26px; }

h3.integrantes {
  font-size: 20px;
  font-family: "Baloo 2", cursive ;
  color: purple;
  display:row;
   }


ul.integrantes {font-size: 20px;
                font-family:Fjalla One, sans-serif;
                 color:white;
                 font-size:15px;
                 display:block;}

body { margin:0;
  background-color: black;
  width: 100%; }



footer {display: inline;
          background-color: purple;
          width: 100%;
          height: 100px
        }


