@import "colores";
@import "tamanios";


$tamañoTitulo:50px;
$estiloLetra: "Baloo 2", cursive;

h1 {
			color: $colorpurple;
			 font-size:$tamañoTitulo;
			font-family:'Overlock SC', cursive;;
			transition: all 3s;
			font-weight: 700;
    		font-size: 70px;
    		line-height: 80px;
    		letter-spacing: -1px;
			position: relative;
    		margin:opx;
			}




.resumen { color: $colorpurple;
				widht:$ancho/2;
				font-family:$estiloLetra;}

h2 {color: $colorpurple;
		font-family: $estiloLetra;}


.fechas { color: $colorpurple;
		font-family: $estiloLetra;}


.carousel-inner{ width:80%; height:10%}

h2.historia {font-size: 30px;
			font-family: $estiloLetra;
			color:$colorpurple;}

p.historia {
			font-family:Fjalla One, sans-serif;
			color:white;
			widht:60%;
			font-size: 14px;
   			 line-height: 26px;}

div.historia {font-family:Fjalla One, sans-serif;
			color:white;
			display:row;
			widht:60%;
			font-size: 14px;
   			line-height: 26px;}

h3.integrantes {font-size: 30px;
				font-family: $estiloLetra;
				color:$colorpurple;}

.fotos {display:inline; padding:2px}

@media (max-width:768px)  {
  
  header label {display:block; }

  .menu {position:absolute;
        background:$purple;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;}

  .menu ul {
    flex-direction: column;
  }
  .menu li {
    border-top: 1px solid purple;
  }

  #btn-menu:checked - .menu {
    margin: 0;}
  }




body {
	background-color:black;
	 width: 100%;}

footer {display:block;
		color:blue;
		background-color:$colorpurple;}

