@import "colores";
@import "tamanios";


$tamañoTitulo:50px;
$estiloLetra: "Baloo 2", cursive;

h1 {
			color: $colorpurple;
			 font-size:$tamañoTitulo;
			font-family:'Overlock SC', cursive;;
			transition: all 3s;
			font-weight: 700;
    		font-size: 70px;
    		line-height: 80px;
    		letter-spacing: -1px;
			position: relative;
    		margin:opx;
			}

nav {font-family:$estiloLetra;
	background-color:$colorpurple}

 li.nav-item {font-family: $estiloLetra;
 			color:black}




.resumen { color: $colorpurple;
				widht:$ancho/2;
				font-family:$estiloLetra;}

h2 {color: $colorpurple;
		font-family: $estiloLetra;}


.fechas { color: $colorpurple;
		font-family: $estiloLetra;}


.carousel-inner{ width:80%; height:10%}

h2.historia {font-size: 30px;
			font-family: $estiloLetra;
			color:$colorpurple;}

p.historia {
			font-family:Fjalla One, sans-serif;
			color:white;
			widht:60%;
			font-size: 14px;
   			 line-height: 26px;}

div.historia {font-family:Fjalla One, sans-serif;
			color:white;
			display:row;
			widht:60%;
			font-size: 14px;
   			line-height: 26px;}

h3.integrantes {font-size: 30px;
				font-family: $estiloLetra;
				color:$colorpurple;}

.fotos {display:inline; padding:2px}

#btn-menu {display:none;}

header label {display: none;
              width: 30px;
              height: 30px;
              padding: 10px;
              border-right: 1px;}

 header label:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.3)
 } 

 .menu ul{
    margin:o;
    list-style: none;
    padding: 0;
    display:inline;
 }

 .menu li  a{text-align: center;
           flex-grow: 1 ;
           display:inline;}

 .menu li a:hover {
  background: rgba(0,0,0,0.3);
 }

 .menu li a{
  display: inline;
  padding: 15px 20px;
  color:white;
  text-decoration: none;
 }

 .tienda hijo {display:inline}

 {display:inline}


@media (max-width:768px)  {
  
body {
	background-color:black;
	 width: 100%;}

footer {display:block;
		color:blue;
		background-color:$colorpurple;}

